<div id="posts" class="container">
	<div class="row">
		<div class="pull-right">
			<ul class="list-unstyled">
				<li class="text-uppercase"><a href="#!/post/create"><i class="glyphicon glyphicon-pencil"></i> create post</a></li>
			</ul>
		</div>
	</div>
	<div class="row top">
		<div class="post text-center">
			<div class="row"">
				<div ng-repeat="item in listPost.posts">
					<div class="col-sm-6">
						<div class="card">
						  <div class="card-header" ng-bind="item.title"></div>
						  <div class="card-body">
						    <p class="card-text">{{item.post}}</p>
						    <span> {{item.name}} , {{item.created_at}}</span>
						  </div>
						  <div class="card-footer">
						  	<ul class="list-inline">
						  		<li><a href="#!/commentary/{{item.id}}">comment</a></li>
						  		<li  ng-show="([item.user_id] | filter: listPost.user_id).length"><a href="#" >delete</a></li>
						  	</ul>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>