<div id="register" class="container">
    <div class="pull-left left-arrow">
        <a href="#!/"><i class="glyphicon glyphicon-arrow-left"></i><span class="back">Back</span></a>
    </div>
    <div class="row form-register">
        <div class="your-post your-register">
            <h2>Register Your Account</h2>
        </div>
        <form ng-submit="register.createUser()">
            <div class="form-group">
                <input type="text" class="form-title" name="name" placeholder="NAME" ng-model="register.user.name">
            </div>
            <div class="form-group">
                <input type="text" class="form-title" name="name" placeholder="USER" ng-model="register.user.user">
            </div>
            <div class="form-group">
                <input type="password" class="form-title" name="password" placeholder="PASSWORD" ng-model="register.user.password">
            </div>
            <button type="submit" class="btn btn-primary send text-uppercase">register</button>
        </form>
    </div>
</div>